@model Asignatura

@{
    ViewData["Title"] = "Asignatura Page";
}

<div class="text-center">
    <h1 class="display-4">Asignatura: @Model.Nombre</h1>
    <p class="lead">
        <strong>ID: </strong>@Model.UniqueId
    </p>
</div>